mixin destinationInfo(region, destinantion, price, tour)
  span.block.info.box-info.pos-abt
    span.block.info-detail.overlay.text-u-c
      span.block.destination-type #{region}
      span.block.location.package.block #{destinantion}
      span.block.pricing
        span From
        span.currency  USD
        span.price  #{price}


mixin postHeader(label, title)
  article.post-header
    label.block.text-u-c #{label}
    h3.text-u-c.m-t-none
      a(href="blog-detail.html", title="#{title}") #{title}

mixin headerActive(current)
  div.navbar.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        a.navbar-brand(href='index.html', title='TS Starter')
          img(src='img/sapta-tour-logo.png', title='TS Starter')
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.main-menu
          if (current == 'tours')
            li(class="active")
              a(href='tours.html')
                i.ico.ico-tours
                span.block TOURS

              include ../form/tour
          else
            li
              a(href='tours.html')
                i.ico.ico-tours
                span.block TOURS

              include ../form/tour

          if (current == 'fights')
            li(class="active")
              a(href='flights.html')
                i.ico.ico-flight
                span.block BOOK FLIGHTS

              include ../form/flight

          else
            li
              a(href='flights.html')
                i.ico.ico-flight
                span.block BOOK FLIGHTS

              include ../form/flight

          if (current == 'hotels')
            li(class="active")
              a.hotel(href='#hotels')
                i.ico.ico-hotel
                span.block BOOK HOTELS
          else
            li()
              a.hotel(href='#hotels')
                i.ico.ico-hotel
                span.block BOOK HOTELS

          if (current == "document")
            li(class="active")
              a(href='document.html')
                i.ico.ico-document
                span.block DOCUMENTS
          else
            li
              a(href='document.html')
                i.ico.ico-document
                span.block DOCUMENTS

          if (current == 'blog')
            li(class="active")
              a(href='blog.html')
                i.ico.ico-blog
                span.block BLOG
          else
            li
              a(href='blog.html')
                i.ico.ico-blog
                span.block BLOG

        ul.nav.navbar-nav.navbar-right
          li
            a.b-r-white(href='#', data-toggle="modal", data-target="#loginModal") Login
          li
            a(href='register.html') Register
      .clearfix


mixin headerFlightPayment(step)
  div.navbar(role='navigation')
    .container
      .navbar-header
        a.navbar-brand.md.block(href='index.html', title='Sapta Tour and Travel')
          img(src='img/sapta-logo-md.png', title='Sapta Tour and Travel')

      .pull-right.nav.payment-nav
        div(class="payment-step payment-step-#{step}")
          if (step == 1)
            a.step.one.active(href="#") Details
          else
            a.step.one(href="flight-payment-step-1.html") Details

          if (step == 2)
            a.step.two.active(href="#") Review
          else
            a.step.two(href="flight-payment-step-2.html") Review

          if (step == 3)
            a.step.three.active(href="#") Payment
          else
            a.step.three(href="flight-payment-step-3.html") Payment

          if (step == 4)
            a.step.four.active(href="#") Process
          else
            a.step.four(href="flight-payment-step-4.html") Process

          if (step == 5)
            a.step.five.active(href="#") E-Ticket
          else
            a.step.five(href="flight-payment-step-5.html") E-Ticket

      .clearfix

mixin dealInfo(region, destination, day, price)
  .dealinfo
    .wrapper-md
      label.text-light.text-sm.text-u-c.block #{region}
      a.text-lg.title.text-u-c(href="tour-detail.html") #{destination}

    .bg-white.pos-rtl

      a.days-trip.tour.text-center(href="tour-detail.html")
        i.ico.ico-time
        span.count #{day}
        label.text-u-c.text-sm DAYS

      a.pricing.tour.text-center(href="tour-detail.html")
        label.block.text-u-c FROM
        span.currency  $
        span.price #{price}
  .rollover.bg-orange.pos-abt
    .wrapper-lg.text-center.bg-white
      .ico.ico-hotel

      .cities.block.m-t-sm.m-b-lg
        a.inline(href="tour-detail.html") Dubai
        a.inline(href="tour-detail.html") Moscow
        a.inline(href="tour-detail.html") St. Petersburg
        a.inline(href="tour-detail.html") Helsinki
        a.inline(href="tour-detail.html") Stockholm
        a.inline(href="tour-detail.html") Karlstad
        a.inline(href="tour-detail.html") Hamar
        a.inline(href="tour-detail.html") Flam
        a.inline(href="tour-detail.html") Gudvangen
        a.inline(href="tour-detail.html") Flam
        a.inline(href="tour-detail.html") Voss
        a.inline(href="tour-detail.html") Bergen
        a.inline(href="tour-detail.html") Bruravik
        a.inline(href="tour-detail.html") Geilo
        a.inline(href="tour-detail.html") Oslo
        a.inline(href="tour-detail.html") Copenhagen

      .ico.ico-calendar

      .calendar.m-t-sm.m-b-lg
        a.inline(href="tour-detail.html") 08 Mar
        a.inline(href="tour-detail.html") 15 Mar
        a.inline(href="tour-detail.html") 24 Mar
        a.inline(href="tour-detail.html") 30 Mar
        a.inline(href="tour-detail.html") 31 Mar

      a.text-u-c.more-details(href="tour-detail.html") Click for More Details


mixin flightOutbound(airline, departure, _return, transit, pricing)
  .flight-item.m-b-sm
    .arline.column.b-r.pull-left
      img.block.m-auto(src="#{airline.logo}", alt="")
      span.block #{airline.name}


    .schedule.pos-rlt.column.pull-left

      .departure.pos-rlt.bg-white.pull-left
        i.ico.ico-departure
        span.block.time #{departure.time}
        span.block.date
          | #{departure.day}, &nbsp;
          strong #{departure.date}
        label.text-u-c.block #{departure.airport}

      span.arrow
      .duration 2h 30m

      .return.pos-rlt.bg-white.pull-right
        i.ico.ico-return
        span.block.time #{_return.time}
        span.block.date
          | #{_return.day}, &nbsp;
          strong #{_return.date}
        label.text-u-c.block #{_return.airport}


    .transit.column.b-r.b-l.pull-left.bg-white.pos-rlt
      label.text-u-c.block transit
      span.block #{transit}
      if (transit != 'No')
        .ico.ico-info.pos-abt

    .pricing.column.pull-left
      label.text-u-c.block Total Price
      span.block.m-t-xs
        span.inline.currency Rp
        span.inline.price  #{pricing}
      label.light per person
    .button.column.pull-left.text-center
      a.block.pos-rlt(href="flight-inbound.html") Select Flight

mixin PassengerInfo(number)
  .form-group.passenger-info(id="passenger-#{number}")
    h4.section-title.m-t-none.m-b-lg.text-c-l.text-left.text-rounded Adult Passenger 0#{number}&nbsp;
      span.text-yellow Details
    p
      strong.f-bold Perhatian:
      |  Nama pernumpang rute International harus tepat dan sesuai Paspor, sedangkan domestik dapat
      strong.f-bold  sesuai
      |  KTP/SIM/Paspor. Data Penumpang tidak dapat diubah setelah halaman berpindah

    .pull-left.m-r-md.m-b-md
      .boxing.gender.selectbox.b.m-t-md.pos-rlt
        label.block.text-xs Title
        select(name="gender")
          option(selected="selected") Miss
          option() Mr

    .pull-left.m-b-md
      .boxing.name.b.m-t-md
        label.block.text-xs Name as written in Passport
        input(type="text", placeholder="Passenger’s Name")

    .clearfix
    .pull-left.m-r-md.m-b-md
      .boxing.passport.b.m-t-md
        label.block.text-xs Pasport Number
        input(type="text", value="", placeholder="Type Passport Number")

    .pull-left.m-b-md
      .boxing.nationality.selectbox.b.m-t-md.pos-rlt
        label.block.text-xs Nationality
        select(name="nationality")
          option(selected="selected") Indonesian
          option() Singaporean
          option() Malaysian

    .clearfix

    .pull-left.m-r-md.m-b-md
      .boxing.bod.selectbox.b.m-t-md.pos-rlt
        label.block.text-xs Day of Birth
        select(name="day")
          option(selected="selected") 29
          option() 1
          option() 2
          option() 3
          option() 4

    .pull-left.m-r-md.m-b-md
      .boxing.bod.selectbox.b.m-t-md.pos-rlt
        label.block.text-xs Month of Birth
        select(name="month")
          option January
          option February
          option March
          option April
          option May
          option June
          option July
          option August
          option(selected="selected") September
          option October
          option November
          option Desember

    .pull-left.m-r-md.m-b-md
      .boxing.bod.selectbox.b.m-t-md.pos-rlt
        label.block.text-xs Year of Birth
        select(name="year")
          option 1987
          option(selected) 1986
          option 1985
          option 1984
          option 1983
          option 1982

    .clearfix
      .pull-left.m-r-md.m-b-md
        .boxing.baggage.selectbox.b.m-t-md.pos-rlt
          label.block.text-xs Baggage Jakarta - Denpasar
          select(name="baggage_departure")
            option(selected="selected") No Baggage
            option 20kg
            option 30 Kg
            option 40 Kg
            option 50 Kg

      .pull-left.m-b-md
        .boxing.baggage.selectbox.b.m-t-md.pos-rlt
          label.block.text-xs Baggage Denpasar - Jakarta
          select(name="baggage_return")
            option No Baggage
            option(selected="selected") 20kg
            option 30 Kg
            option 40 Kg
            option 50 Kg

      .clearfix
    .dashed.m-t-lg.m-b-lg
