mixin featuredDestination(image, name, param1, param2, type)
  .item.pos-rlt.b-b
    figure.pos-abt
      img(src="img/destinations/#{image}", alt="")

    .featured-info.pos-abt
      if type == 'hotels'
        h4.name.text-lg
          a(href="mobile/tour-detail.html") #{name}
        span.inline.count-accomodations #{param1}
        span.inline &nbsp;Accomodations

      else if type == 'flight'
        h4.name.text-lg
          a(href="mobile/tour-detail.html") #{name}
        span.inline.count-accomodations #{param1}
        span.pricing-flight.block.pos-abt
          label.text-xs From
          span.pricing.block.f-bold
            span.currency
            span.price.text-lg!= param2

      else
        h4.name.text-lg
          a(href="mobile/tour-detail.html") #{name}
        span.inline.location #{param1}
        span.inline.m-r-xs.m-l-xs |
        span.inline
          | From &nbsp;
          span.f-bold #{param2}

mixin blogPostItem(image, category, name, param1, param2)
  .item.pos-rlt.b-b
    figure.pos-abt
      img(src="img/destinations/#{image}", alt="")
    .overlay
    .featured-info.pos-abt
        a.blog-category(href="#") #{category}
        h4.name.text-lg
          a(href="mobile/blog-detail.html") #{name}

